html, body {
    margin: 0px; 
}

body {
      background: #fafafa url("../img/wandern_nockberge-2500x1667.webp") no-repeat fixed center;
}

wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  max-width: 75rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 40px;
    border: 3px solid;
}
.icon-svg {
    width: 50px;
    height: 50px;
    padding-bottom: 7px;
}

footer {
    display: flex;
    justify-content: center;
    align-itmes: center;
    flex-wrap: wrap;
}
footer > dic {
    width: 33%;   
}
footer > div:last-child {
    width: 100%;   
}
